<style>
  table, th, td {
    border: 1px solid black;
}
</style>



<table>
   <tr>
    <th>Name</th>
    <th>Description</th> 
    <th>date time</th>
  </tr>
{{#each sessions}}
 <tr>
<td>{{this.name}}</td> 
<td>{{this.description}}</td> 
<td>{{this.dateFormated}}</td> 
</tr>
{{/each}}
</table>



{{title}}
